<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "partial/_head.html.twig" %}
	</head>

	<body>
		{% if app.user %}
			{% include "partial/_sidebar.html.twig" %}
			<!-- /# sidebar -->


			{% include "partial/_header.html.twig" %}
			<!-- /# header -->
		{% endif %}

		<div class="content-wrap">
			<div class="main">
				<div class="container-fluid"> {% block body %}{% endblock %}
					{% include "partial/_footer.html.twig" %}
				</div>


				<!-- jquery vendor -->
				<script type="text/javascript" src="{{ asset('assets/js/plugins/jquery-3.6.0.min.js') }}"></script>
				<script type="text/javascript" src="{{ asset('assets/js/material-dashboard.min.js') }}"></script>
				<script type="text/javascript" src="{{ asset('template/js/lib/jquery.nanoscroller.min.js')}}"></script>
				<script type="text/javascript" src="{{ asset('template/js/lib/menubar/sidebar.js')}}"></script>
				<script type="text/javascript" src="{{ asset('template/js/lib/preloader/pace.min.js')}}"></script>
				<!-- sidebar -->
				{% block javascripts %}


					<!-- nano scroller -->

					<!-- scripit init-->
					<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc --><script type="text/javascript" src="{{ asset('assets/datatables/js/datatables.min.js') }}"> </script>
					<script type="text/javascript" src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
					<script type="text/javascript" src="{{ asset('assets/js/core/popper.min.js') }}"></script>
					<script type="text/javascript" src="{{ asset('assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
					<script type="text/javascript" src="{{ asset('assets/js/plugins/smooth-scrollbar.min.js') }}"></script>
					<!-- Font Awesome Icons -->
					<script type="text/javascript" src="{{ asset('assets/js/fontawesome.js') }}"></script>
					<script type="text/javascript" src="{{ asset('assets/js/custom/app.js') }}"></script>

					<script type="text/javascript" src="{{ asset('assets/js/core/bootstrap.bundle.min.js') }}"></script>
				{% endblock %}
			</div>
		</div>
	</body>
</html>
