<!-- Form Navigation -->
<div class="row nav-add">
	<div class="col-12">
		<div class="nav-wrapper position-relative end-0">
			<ul class="nav nav-pills nav-fill p-1" role="tablist">
				<li class="nav-item">
					<a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#basique-infos" role="tab" aria-controls="preview" aria-selected="true" aria-current="page">
						<span class="material-icons align-middle mb-1">
							badge
						</span>
						Informations basiques
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#info-perso" role="tab" aria-controls="code" aria-selected="false">
						<span class="material-icons align-middle mb-1">
							groups
						</span>
						Informations personnelles
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#qualification" role="tab" aria-controls="code" aria-selected="false">
						<span class="material-icons align-middle mb-1">
							laptop
						</span>
						Qualifications et technos
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#others" role="tab" aria-controls="code" aria-selected="false">
						<span class="material-icons align-middle mb-1">
							inventory
						</span>
						Autres
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Form Navigation -->
{{ form_start(form) }}
<div
	class="tab-content" id="collabTabContent">
	<!-- Info basique -->
	<div class="card tab-pane fade show active" id="basique-infos" role="tabpanel" aria-labelledby="basique-infos-tab">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.imageFile, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.imageFile) }}
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.firstname, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.firstname, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.lastname, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.lastname, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.gender, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.gender, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.email, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				{% if not user.id %}
					<div class="col-md-6">
						<div class="input-group input-group-dynamic is-filled my-3">
							{{ form_label(form.password, null, {'label_attr': {'class':'form-label'}}) }}
							{{ form_widget(form.password, {'attr': {'class':'form-control'}}) }}
						</div>
					</div>
				{% endif %}
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.country, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.country, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.qualification, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.qualification, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group input-group-dynamic is-filled my-3 is-filled">
						{{ form_label(form.date_entry, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.date_entry, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.contract_type, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.contract_type, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.manager, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.manager, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Info basique -->

	<!-- Info perso -->
	<div class="card tab-pane fade" id="info-perso" role="tabpanel" aria-labelledby="info-perso-tab">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<div class="input-group input-group-dynamic is-filled my-3 is-filled">
						{{ form_label(form.birth_date, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.birth_date, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group input-group-dynamic is-filled my-3 is-filled">
						{{ form_label(form.matrimonial_status, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.matrimonial_status, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group input-group-dynamic is-filled my-3 is-filled">
						{{ form_label(form.childNumber, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.childNumber, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.location, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.location, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.address, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.address, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.district, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.district, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.city, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.city, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.contacts, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.contacts, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.contactSecondary, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.contactSecondary, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Info perso -->

	<!-- Qualification et techno -->
	<div class="card tab-pane fade" id="qualification" role="tabpanel" aria-labelledby="qualification-tab">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.tech_dominant_cv, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.tech_dominant_cv, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.tech_master, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.tech_master, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.tech_active, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.tech_active, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.tech_others, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.tech_others, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.other_skills, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.other_skills, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.skills_evolution, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.skills_evolution, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3 is-filled">
						{{ form_label(form.english_level, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.english_level, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Qualification et techno -->

	<!-- Others -->
	<div class="card tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_label(form.original_company, null, {'label_attr': {'class':'form-label'}}) }}
						{{ form_widget(form.original_company, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_widget(form.cv_observations, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_widget(form.risk_anticipation, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_widget(form.notes, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group input-group-dynamic is-filled my-3">
						{{ form_widget(form.perspective, {'attr': {'class':'form-control'}}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Others -->
</div>

<div class="d-flex justify-content-end mt-6">
	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
